body {
    font-family: 微軟正黑體;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

#about {
    position: fixed;
    background-image: linear-gradient(to right, rgba(7, 3, 19, 0.6), rgba(247, 245, 230, 0.4)), url(../images/background3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

#people {
    height: 100vh;
}

#photo {
    padding: 8px;
    border: solid 1px rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.075);
    height: 30vh;
}

.right {
    background-color: #eeeded;
}

#note {
    position: sticky;
    top: 0px;
    z-index: 1;
    display: none;
    background-color: #282D3E;
    border-radius: 20px;
}

#title {
    font-size: 1.2rem;
}

#text {
    font-size: 0.9rem;
}

.card {
    border-radius: 20px 20px 20px 20px;
    background-color: #282D3E;
    border: 1px solid #eeeded;
    -webkit-box-shadow: 5px 5px 4px rgba(102, 100, 100, 0.3);
    box-shadow: 5px 5px 4px rgba(102, 100, 100, 0.3);
}

.card-img-top {
    border-radius: 15px 15px 0px 0px;
}

.card-body {
    padding: 0.8rem 0rem 0rem 0rem;
}

footer {
    color: #141929;
    font-size: 0.8rem;
    font-weight: normal;
}

@media screen and (max-width: 991.5px) {
    #body {
        font-size: 12px;
    }

    #about {
        position: static;
        height: 40vh;
        background-image: linear-gradient(to bottom, rgba(7, 3, 19, 0.6), rgba(247, 245, 230, 0.4)), url(../images/background3.jpg);
    }

    #photo {
        width: 40%;
        height: 40%;
        margin-bottom: 0;
    }

    #people {
        height: 40vh;
    }
}

@media screen and (max-width: 600px) {
    #about {
        background-image: linear-gradient(to bottom, rgba(7, 3, 19, 0.6), rgba(247, 245, 230, 0.4)), url(../images/background3.jpg);
        font-size: 0.9rem;
    }

    #photo {
        width: 40%;
        height: 40%;
        margin-bottom: 0;
    }

    #title {
        font-size: 1.2rem;
    }

    #text {
        font-size: 0.9rem;
    }
}